{% extends 'layout.html' %}
{% set bodyClass = 'login' %}

{% block head %}
<link rel="stylesheet" href="/css/custom.css">
{% endblock %}

{% block body %}
<h1 class="title">Welcome to your Backpack</h1>
<p class="subtitle">Celebrate your skills & passions</p>
<form class="account-inf" action="/backpack/authenticate" method="POST">
  <label for="SID"> Student ID </label>
  <input name="SID" type="text" class="SID" id="SID">
  <label for="password"> Password </label>
  <input name="password" type="text" class="password" id="password">
  <input name="_csrf" type="hidden" value="{{ csrfToken }}">
</form>

<a class="persona-button dark big js-browserid-link" href="#"><span>Log In</span></a>


<script type="text/javascript">
!!function loginHandler () {
//begin login handler
  $('.js-browserid-link').bind('click', function(){
    $(".account-inf")[0].submit();
  });

//begin login handler scope
}();
</script>
{% endblock %}
